@code {
    [Parameter] public int Priority { get; set; } = 2;
}

<span class="priority-indicator priority-@Priority" title="Priority @Priority">
    @switch (Priority)
    {
        case 1:
            <span class="oi oi-arrow-thick-top text-danger"></span>
            break;
        case 2:
            <span class="oi oi-minus text-warning"></span>
            break;
        case 3:
            <span class="oi oi-arrow-thick-bottom text-secondary"></span>
            break;
    }
</span>
